.nav__wrp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    height: 70px;
    box-shadow: 0px 5px 5px -3px rgba(162, 168, 172, 0.6);
}
.nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .logo {
        height: 100%;
        margin-right: 10px;
        img {
            height: 100%;
        }
    }

    &__list {
        display: inline-flex;
        column-gap: 20px;
        list-style: none;
    }
    &__link a{
        text-decoration: none;
        font-size: 18px;
        color: #000;
    }
}

.logout {
    // justify-items: flex-end;
}

.active {
    color: #adadad;
    font-weight: 700;
}