<nav *ngIf="showNav" class="nav__wrp">
    <div class="nav">
        <div class="logo">
            <a routerLink="games" routerLinkActive="active"><img src="../../../assets/logo.png" alt="logo"></a>
        </div>
        <ul class="nav__list">
            <li class="nav__link">
                <a routerLink="games" routerLinkActive="active">Games</a>
            </li>
            <li class="nav__link">
                <a routerLink="library" routerLinkActive="active">Library</a>
            </li>
            <li class="nav__link">
                <a routerLink="friends" routerLinkActive="active">Friends</a>
            </li>
            <li class="nav__link">
                <a routerLink="profile" routerLinkActive="active">Profile</a>
            </li>
        </ul>
    </div>

    <button mat-raised-button color="primary" class="form__field logout" (click)="logout()">Log Out</button>
</nav>