<form class="friends__form">
    <label class="friends__label" for="searchFriends">Search Friends</label>
    <div class="friends__wrp">
        <input class="friends__input" type="text" name="searchFriends" id="searchFriends" placeholder="Search Friends">
        <button class="friends__searchBtn">Search</button>
    </div>
</form>