.friends__form {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.friends__label {
    font-size: 12px;
    padding-bottom: 5px;
}
.friends__input {
    height: 100%;
    width: 600px;
    flex: 1 1 100%;
}

.friends__searchBtn {
    flex: 0 1 100px;
    height: 100%;
}

.friends__wrp {
    height: 30px;
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: stretch;
}
