<!-- <div class="friends">
    <h2 class="friends__title">Friends</h2>

    <app-friends-search></app-friends-search>

    <h3 class="friends__title">My Friends</h3>

    <div class="friends__list">
        <div class="friend__item">
            
        </div>
    </div>


</div> -->