#notfound {
    position: relative;
    height: 100vh;
    background: #f6f6f6;
  }
  
  #notfound .notfound {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  .notfound {
    max-width: 767px;
    width: 100%;
    line-height: 1.4;
    padding: 110px 40px;
    text-align: center;
    background: transparent;
  }
  
  .notfound .notfound-404 {
    position: relative;
    height: 180px;
  }
  
  .notfound .notfound-404 h1 {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 165px;
    font-weight: 700;
    margin: 0px;
    color: #262626;
    text-transform: uppercase;
  }
  
  .notfound .notfound-404 h1>span {
    color: hsla(260, 29%, 36%, 1);
  }
  
  .notfound h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    color: #151515;
    margin-top: 0px;
    margin-bottom: 25px;
  }
  
  a {
    margin-top: 20px;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    background: transparent;
    border: 2px solid #c5c5c5;
    padding: 0.8rem 3rem;
    border-radius: 4rem;
    font-size: 0.875rem;
    letter-spacing: 0.05rem;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #151515;
  }
  
  @media only screen and (max-width: 767px) {
    .notfound h2 {
      font-size: 18px;
    }
  }
  
  @media only screen and (max-width: 480px) {
    .notfound .notfound-404 h1 {
      font-size: 141px;
    }
  }
  