<mat-card class="form__card">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
        <mat-card-title class="form__title">Sign in</mat-card-title>
        <mat-form-field appearance="fill" class="form__field">
            <mat-label>Enter your email</mat-label>
            <input matInput placeholder="pat@example.com" formControlName="email" required>
            <!-- <mat-error *ngIf="loginForm.value.email.invalid">{{getErrorMessage()}}</mat-error> -->
        </mat-form-field>

        <mat-form-field appearance="fill" class="form__field">
            <mat-label>Enter your password</mat-label>
            <input matInput [type]="'password'" formControlName="password">
        </mat-form-field>

        <button [disabled]="!loginForm.valid" mat-raised-button color="primary" class="form__field">Sign In</button>
    </form>
</mat-card>

<div *ngFor="let user of users$ | async">
    {{ user.name }}
</div>