.profile {
    height: fit-content;
    width: max-content;
    padding: 30px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    box-shadow: 0px 5px 5px -3px rgba(162, 168, 172, 0.6);


    &__title {
        padding-bottom: 20px;
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: stretch;

        label {
            margin-top: 10px;
            text-align: left;
            font-size: 12px;
            font-weight: 600;
        }

        input {
            padding: 5px;
        }

        button {
            padding: 5px;
            margin-top: 20px;
        }
    }
}

.text-dander {
    color: red;
}


.form__card {
    margin: 0 auto;
    max-width: 400px;
}
.form__title {
    text-align: center;
}
.form__field {
    width: 100%;
}
.form__container .mat-form-field + .mat-form-field {
    margin-left: 8px;
}