<div class="friends">
    <h2 class="friends__title">Friends</h2>

    <form class="friends__form">
        <label class="friends__label" for="searchFriends">Search Friends</label>
        <div class="friends__wrp">
            <input class="friends__input" type="text" name="searchFriends" id="searchFriends" placeholder="Search Friends">
            <button class="friends__searchBtn">Search</button>
        </div>
    </form>

    <h3 class="friends__title">My Friends</h3>

    <!-- <div *ngFor="let friend of friends$ | async" class="friends__list">
        <div class="friends__item">
            <div class="friends__name">{{friend.name}}</div>
            <button class="friends__btn">Remove Friend</button>
        </div>
    </div> -->

</div>


