.friends {
    margin: 30px;
    padding: 30px;

    &__title {
        margin-bottom: 20px;
    }

    &__form {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        label {
            font-size: 12px;
            padding-bottom: 5px;
        }
        input {
            height: 100%;
            width: 600px;
            flex: 1 1 100%;
            padding: 5px;
        }
    }

    &__searchBtn {
        flex: 0 1 100px;
        height: 100%;
    }
    
    &__wrp {
        height: 30px;
        width: 100%;
        display: flex;
        align-items: stretch;
        justify-content: stretch;
    }

    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px 0;
        padding: 5px;
        box-shadow: 0px 0px 5px 1px rgba(56, 91, 118, 0.2);
    }

    &__btn {
        padding: 5px;
    }
}
