<mat-card class="form__card">
    <form [formGroup]="profileForm" (ngSubmit)="saveProfile()">
        <mat-card-title class="form__title">Profile</mat-card-title>
        <mat-form-field appearance="fill" class="form__field">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email">
        </mat-form-field>

        <mat-form-field appearance="fill" class="form__field">
            <mat-label>Enter your name</mat-label>
            <input matInput formControlName="name">
        </mat-form-field>

        <mat-form-field appearance="fill" class="form__field">
            <mat-label>Enter your age</mat-label>
            <input matInput formControlName="age">
        </mat-form-field>

        <button [disabled]="!profileForm.valid" mat-raised-button color="primary" class="form__field">Save</button>
    </form>
</mat-card>
