@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap");
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
