<section class="friends">
  <div class="friends__container">
    <div class="friends__title">
      <h2>Games</h2>
    </div>
    <div class="friends__search">
      <label>
        <span>Search games</span>
        <input type="text" placeholder="Search friends" #search (input)="searchGames()" />
        <!-- <input type="text" placeholder="Search friends" #search (input)="searchGames(search.value)" /> -->
      </label>
    </div>
    <div class="friends__list">
      <div *ngIf="!search.value?.length">
        <h2>Featured Games</h2>
        <!-- <div *ngIf="!myGames.length" class="friends__empty">
          You don't have friends. Find new friends due to search form!
        </div>
        <ul>
          <li *ngFor="let friend of myGames">
            <h3>{{ game.name }}</h3>
            <button class="btn btn--red" (click)="removeGame(game)">Remove game</button>
          </li>
        </ul>
      </div>
      <div *ngIf="search.value?.length">
        <h2>Search Games: {{ search.value }}</h2>
        <div *ngIf="!searchGame.length" class="friends__empty">We don't have such games</div>
        <ul>
          <li *ngFor="let friend of searchGame">
            <h3>{{ friend.name }}</h3>
            <button *ngIf="ifGame(game.name)" class="btn btn--red" (click)="removeGame(game)">
              Remove game
            </button>
            <button
              *ngIf="!ifGame(game.name)"
              mat-stroked-button
              (click)="openSnackBar('Game added')"
              class="btn btn--purple"
              (click)="addGame(game)"
            >
              Add game
            </button>
          </li>
        </ul> -->
      </div>
    </div>
  </div>
</section>
